In [5]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [ ]:
#pip install xlrd and openpyxl

In [2]:
xlsfile = pd.ExcelFile('lec_28.xlsx')

In [3]:
dframe = xlsfile.parse('Sheet1')

In [4]:
dframe

   this is a test  Unnamed: 1  Unnamed: 2
0              23          11          90
1              43          22          99
2              23          33          88
3              23          44          77
4              33          55          66