In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [2]:
from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    0.111324
   b    0.416395
   c    0.430869
2  a    0.445889
   b    0.151965
   c   -0.123840
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [6]:
ser[1]

a    0.111324
b    0.416395
c    0.430869
dtype: float64

In [7]:
ser[2]

a    0.445889
b    0.151965
c   -0.123840
dtype: float64

In [8]:
ser

1  a    0.111324
   b    0.416395
   c    0.430869
2  a    0.445889
   b    0.151965
   c   -0.123840
dtype: float64

In [10]:
ser[:,'a'] #gets the values at index level

1    0.111324
2    0.445889
dtype: float64

In [11]:
dframe = ser.unstack() #lower index levels are columns

In [12]:
dframe

          a         b         c
1  0.111324  0.416395  0.430869
2  0.445889  0.151965 -0.123840

In [13]:
dframe2 = DataFrame(np.arange(16).reshape(4,4),
                    index= [['a','a','b','b'],[1,2,1,2]],
                   columns = [['NY','NY','LA','SF'],['cold','hot','hot','cold']])
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [14]:
dframe2.index.names = ['index_1','index_2']
dframe2.columns.names = ['cities','temp']
dframe2

cities            NY      LA   SF
temp            cold hot hot cold
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [15]:
dframe2.swaplevel('cities','temp',axis=1) #putting axis is important

temp            cold hot     cold
cities            NY  NY  LA   SF
index_1 index_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [17]:
dframe2.sortlevel(0)  #figure out package config

AttributeError: 'DataFrame' object has no attribute 'sortlevel'

In [18]:
dframe2.sum(level='temp',axis=1)

temp             cold  hot
index_1 index_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27